/*General styling*/

html, body {
    background-color: #ffeead;
    margin: 10px; /*atitraukti krastams*/
}

.container > div {border-radius: 3px;} /*apvalinti staciakampiu kampai */

.red {background-color: red;}
.blue {background-color: blue;}
.green {background-color:green;}
.purple {background-color: purple;}
.yellow {background-color:yellow;}

/*solution #1 */

.container {
    display: grid;
    grid-gap: 5px;
    grid-template: repeat(3, 50px)/ repeat(4, 1fr); /* pirmas parametras nurodo eilutes, antras stulpelius */
}

.red {grid-column: 1 / 3;}
.blue {grid-column: 3 / -1;}
.green {grid-column: 1 / 2;}
.purple {grid-column: 2 / -1;}
.yellow {grid-column:1 / -1;}


/*solution #2 

.container {
    display: grid;
    grid-gap: 3px;
    grid-template: repeat(3, 50px)/ repeat(4, 1fr);
    grid-template-areas:
    "r r b b"
    "g p p p"
    "y y y y"
}
.red {grid-area: r;}
.blue {grid-area: b;}
.green {grid-area: g;}
.purple {grid-area: p;}
.yellow {grid-area: y;}
*/