/*General styling*/

html,body {
    margin: 10px;
    color: #fff;
}

.container > div{
    border-radius: 3px;
    padding: 5px; /* dezuciu viduje teksto atstumas iki krastu */
}

.header, .footer {
    background-color:grey;
}

.sidebar, .content {
    background-color:rgb(58, 57, 57);
    min-height: 100px;
}

.sidebar2 {
    background-color:darkgrey;
    color:black;
    min-height: 100px;
}

/*Solution */

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto 50px;
    grid-gap:10px;
}

.header {grid-column: 1/-1;}
.sidebar {grid-column: 1/2;}
.content {grid-column: 2/4;}
.sidebar2 {grid-column: 4/-1;}
.footer {grid-column: 1/-1;}

@media all and (max-width: 768px) {
    .container {grid-template-rows: 50px auto 50px}
    .content {grid-column: 2/-1;}
    .sidebar2 {grid-column: 1/-1;}
    }

 @media all and (max-width: 500px) {
    .container {grid-template-rows: 50px auto auto auto 50px}
    .sidebar, .content, .sidebar2 {grid-column: 1/-1;}
    }